<div class="container mt-5">
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><%= meal["strMeal"] %></h5>
      <img src="<%= meal["strMealThumb"] %>" class="card-img-top" style="width: 50%;">
      <p class="card-text"><strong>Category:</strong> <%= meal["strCategory"] %></p>
      <p class="card-text"><strong>Country of Origin:</strong> <%= meal["strArea"] %></p>
      <p class="card-text"><strong>Instructions:</strong> <%= meal["strInstructions"] %></p>
      
      <h6 class="card-subtitle mt-3 mb-2 text-muted"><strong>Ingredients:</strong></h6>
      <ul class="list-group">
        <% meal.keys.grep(/strIngredient/).each.with_index(1) do |ingredient, i| %>
          <% break if meal[ingredient].blank? %>
          <li class="list-group-item"><%= meal[ingredient] %> <%= meal["strMeasure#{i}"] %>  </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>