<div class="card-body">
  <h5 class="card-title"><%= recipe.name %></h5>
  <img src="<%= recipe.image %>" class="card-img-top" style="width: 50%;">
  <p class="card-text"><strong>Category:</strong> <%= recipe.category %></p>
  <p class="card-text"><strong>Country of Origin:</strong> <%= recipe.origin %></p>
  <p class="card-text"><strong>Instructions:</strong> <%= recipe.instructions %></p>
  
  <h6 class="card-subtitle mt-3 mb-2 text-muted"><strong>Ingredients:</strong></h6>
  <ul class="list-group">
    <% recipe.ingredients.each do |ingredient, measure| %>
      <li class="list-group-item"><%= ingredient %>: <%= measure %>  </li>
    <% end %>
  </ul>
</div>
