<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Image</th>
        <th>Name</th>
        <th>Instructions</th>
      </tr>
    </thead>
    <tbody>
      <% @meals.each.with_index do |meal, index| %>
        <% next if index == 0 %>
        <tr class="clickable-row" data-href="<%= recipe_path(id: meal.id) %>">
          <td><%= index %></td>
          <td><img src="<%= meal.image %>" class="img-thumbnail"></td>
          <td><%= meal.name %></td>
          <td><%= meal.instructions&.truncate(200) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    var rows = document.getElementsByClassName("clickable-row");
    Array.from(rows).forEach(function(row) {
      row.addEventListener("mouseover", function() {
        this.style.fontWeight = "bold";
      });
      row.addEventListener("mouseout", function() {
        this.style.fontWeight = "normal";
      });
      row.addEventListener("click", function() {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>
